In [6]:
import numpy as np
import pandas as pd

In [9]:
#Níveis do Índice
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))

In [10]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [11]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [14]:
df = pd.DataFrame(np.random.rand(6,2), index=hier_index, columns='A B'.split())
df

             A         B
G1 1  0.576126  0.656821
   2  0.879000  0.529003
   3  0.344321  0.060485
G2 1  0.890779  0.183410
   2  0.313091  0.179639
   3  0.058866  0.561090

In [25]:
df.loc['G1']

          A         B
1  0.576126  0.656821
2  0.879000  0.529003
3  0.344321  0.060485

In [26]:
df.loc['G1'].loc[1]

A    0.576126
B    0.656821
Name: 1, dtype: float64

In [27]:
df.index.names

FrozenList([None, None])

In [28]:
df.index.names = 'Grupo Número'.split()

In [29]:
df.index.names

FrozenList(['Grupo', 'Número'])

In [30]:
df

                     A         B
Grupo Número
G1    1       0.576126  0.656821
      2       0.879000  0.529003
      3       0.344321  0.060485
G2    1       0.890779  0.183410
      2       0.313091  0.179639
      3       0.058866  0.561090

In [31]:
df.index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]],
           names=['Grupo', 'Número'])

**xs vs loc**

In [32]:
df.xs('G1')

               A         B
Número
1       0.576126  0.656821
2       0.879000  0.529003
3       0.344321  0.060485

In [33]:
df.loc['G1'][1]

               A         B
Número
1       0.576126  0.656821
2       0.879000  0.529003
3       0.344321  0.060485

Utilizar o cross-section quando eu estiver utilizando multi-level, desse jeito eu consigo acessar diretamente

In [34]:
df.xs(1, level='Número')

              A         B
Grupo
G1     0.576126  0.656821
G2     0.890779  0.183410